# Editor settings; .clang-format has the full C style (CONTRIBUTING.md,
# "Code style").
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
indent_style = space
indent_size = 4
max_line_length = 100

[*.py]
indent_style = space
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab

[*.{s,inc}]
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
